/************************************************* COMUNS / RECORRENTES *************************************************/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #7B92A6;
}





/** BARRA DE NAVEGAÇÃO **/
.topnav {
    background-color: #536173;
    height: 46px;
    color: #F2DBAE;
    position: fixed;
    top:0px;
    width:100%;
    border-bottom-style:solid;
    border-color:#7B92A6;
    z-index: 1;
    }

/* propriedades dos links da barra de navegação */
.topnav a {
    color: #F2DBAE;
    float: right;
    height: 20px;
    padding: 15px 13px 11px 13px;
    text-align: center;
    width: 20px;  
}

/* propriedades da modificação hover sobre os icones dos links */
.topnav a:hover {
    background-color: #F2DBAE;
    color: #536173;
}


/* propridades do input (textbox do nome do utilizador) da barra de navegação*/
.topnav h4 {
    float: right;
    color: #F2DBAE;
    text-align: right;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}

/* propridades do nome da página na barra de navegação*/
#pageName {
    font-weight: 100;
    position: relative;
    display: inline;
    color: #F2DBAE;
    text-align: right;
    padding-right: 15px;
    top: -3px;
    transition: 0.5s;
}

/* propriedades da imagem de perfil na barra de navegação e do seu elemento pai */
.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 20px;
}

.profile-picture-box {
    position: relative;
    padding: 0px !important;
    right: 25px;
    top:8px;
    pointer-events: none;
}





/** PROPRIEDADES DA BARRA LATERAL **/
/* propriedades do botão de abertura da sidebar */
.openSidebar {
    top:0px;
    font-size: 25px;
    cursor: pointer;
    color: #F2DBAE;
    background-color: #536173;
    padding: 9px 11.5px 6px 11.5px;
    border: none;
    transition: 0.5s;
}

/* propriedades da modificação hover sobre o botão de abertura da sidebar */
.openSidebar:hover {
    color: #260101;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #260101;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    color: #D9BB96;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {  
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    padding-top: 5px;
    top: 0;
    right: 10px;
    font-size: 36px;
}

.empty-link {
    pointer-events: none;
}





/** FOOTER **/
.footer-comum {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: #536173;
    color: #F2DBAE;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-top-style:solid;
    border-color:#7B92A6;
}
    
/* define margem do parágrafo do footer */
.footer-p {
    margin-top: 20px;
}





/************************************************* INDEX.HTML *************************************************/

.main-title-login h1 {
    color: #F2DBAE;
    font-family: 'Brush Script MT', cursive;
    font-size: 7em;
    font-weight: 400;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 4%;
}

::placeholder {
    color: white;
    opacity: 1;
}

.container-login {
    text-align: center;
}

.email-box {
    border-style:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #536173;
    color: white;
    height: 50px;
    margin: 1px;
    text-indent: 10px;
    width: 250px;
    padding: 0px;
}

.password-box {
    border-style:none;
    background-color: #536173;
    color: white;
    height: 50px;
    margin-top: 1px;
    text-indent: 10px;
    width: 250px;
    padding: 0px;
}

.check {
    margin: 20px;
    color: white;
    font-size: 13px;
}

.remember-me {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0;
    color:#536173;
    width: 15px;
    height: 15px;
    border: 1.5px solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.15em);
    display: inline-flex;
    place-content: center;
    margin-right: 8px;
    cursor: pointer;
}

.remember-me::before {
    content: "";
    width: 10px;
    height: 10px;
    position: relative;
    top: 1px;
    transform: scale(0);
    transition: 0.3s transform ease-in-out;
    background-color:#7B92A6;
}

.remember-me:checked::before {
    transform: scale(1);
}

.login-button {
    background-color: white;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #536173;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 250px;
    height: 50px;
    margin-top: 2px;
}

.login-button:hover {
    background-color: white;
    color:#536173;
    font-weight: bold;
}

.signin-button {
    border: 2px solid #536173;
    border-radius: 5px;
    background-color:#7B92A6;
    color: white;
    margin-top: 1px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 250px;
    height: 50px;
}

.signin-button:hover {
background-color: #F2DBAE;
color:#536173;
}


.footer-login {
    color: #F2DBAE;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}





/************************************************* HOME.HTML *************************************************/

.main-title-home h1 {
    color: #F2DBAE;
    font-family: 'Brush Script MT', cursive;
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%;
}

/** CORPO PRINCIPAL **/
.container-home {
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 15%;
}

.toDo {
    background-color: #536173;
    border-radius: 5px;
    padding: 5% 10% 10% 10%;
}

.toDo button i { /*faz com que o botão funcione mesmo se clicar na imagem/*/
    pointer-events: none;
}

.title-todo h3 {
    color: #F2DBAE;
    font-size: 20px;
    font-weight: 100;
    margin-top: 0px;
}

/** CRIAR NOVA TAREFA **/
#new-task {
    text-align: center;
    margin-bottom: 10%;
}

#new-task textarea{
    box-sizing: border-box;
    padding: 10px 15px 10px 10px;
    width: 100%;
    resize: none; /*tira o risco do canto da caixa de texto*/
    font-family: 'Montserrat', sans-serif;
}

#new-task-info {
    position: relative;
}

#categoryBtn {
    color:lightgray;
    width: 30px;
    font-size: 10px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
    cursor: pointer;
}

#categoryBtn[title]:hover::after {
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    content: 'categoria';
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: rgba(255, 255, 255, 0.7);
    color:#536173;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 65px;
}

#dropYellow {
    color: #F2C12E;
}
#dropOrange {
    color: #ED8B16;
}
#dropRed {
    color: #A62B1F;
}

.dropdown-category {
    display: none;
    position: absolute;
    right: 0px;
    background-color: none; 
    min-width: 40px;
    overflow: auto;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-category i {
    padding-top: 12px;
    font-size: 10px;
    display: block;
    cursor: pointer;
}

.category-icon {
    color: lightgrey;
    position: absolute;
    right: 6px;
    font-size: 10px;
}

.show {display: block;}

#newTaskTitle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: none;
    display: block;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
}

#newTaskDescription {
    border-style: none;
    display: block;
    font-size: 12px;
    height: 75px;
}

textarea::placeholder {
    color: #536173;
}

#new-task-button {
    background-color: white;
    color: #536173;
    font-size: 12px;
    color: #536173;
    display:flex;
    padding: 7px 10px 7px 7px;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: -1px;
}

.new-task-calendar{
    cursor: pointer;
    background-color: white;
    color: #536173;
    border: none;
}

.new-task-calendar[title]:hover::after {
    content: 'prazo';
    position: absolute;
    top: -10px;
    left: 1px;
    background-color: rgba(255, 255, 255, 0.7);
    color:#536173;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 40px;
}

.new-task-submit{
    border-style: solid;
    border-color: white;
    background-color: white;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    color:#7B92A6;
    font-weight: bold;
    height: 30px;
    width: 30%;
    margin-top: 0px;
    transition: 0.3s;
    position: absolute;
    right: 3px;
    text-align: right;
}

.new-task-submit:hover {
    background-color: white;
    color: #536173;
    border-style: solid;
    border-width: 2px;  
}

#newTaskDeadline {
    border:none;
    color: #536173;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: 26px;
    cursor: text;
}

.hiddenCalendar {
    visibility:hidden;
}

/** LISTA DE TAREFAS **/

.toDoListItem {
    background-color:#F2DBAE;
    color: #536173;
    border-radius: 5px;
}

.toDoListItem button {
    margin-left: 0.4rem;
    border-style: none;
    cursor: pointer;
    background-color: #F2DBAE;
    color: white;
    transition: 0.3s;
}

.toDoListItem button:hover {
    color: #536173;
}

.toDoListItem button:hover {
    visibility: visible;
    opacity: 1;
}

.toDoListItemInfo {
    align-items: center;
    border-style: none;
    display:flex;
    padding: 5px 10px 0px 10px;
    justify-content: start;
    margin-top: 2px;
}

.toDoListItemInfo h3 {
    flex: 1;
    font-size: 15px;
}

.toDoListItemCalendar {
    align-items: center;
    display:flex;
    position: relative;
    font-size: 12px;
    padding: 0px 12px 0px 12px;
    background-color:#f7e9cf;
    border-radius: 5px;
}

.toDoListItemCalendar i{
    padding: 0px 5px 0px 0px;
    margin-right: 6px;
    
}



.finish {
    background-color:#7B92A6;
    text-decoration: line-through;
    font-weight: bold;
}

.finish .toDoListItemCalendar {
    background-color:#8799a9;
}

.finish button {
    background-color: #7B92A6;
    color: #536173;
}

/** BOTÕES DE EDIÇÃO **/

.finishTask {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 15px;
    height: 15px;
    border: 1.5px solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-right: 8px;
    cursor: pointer;
}

.finishTask::before {
    content: "";
    width: 9px;
    height: 9px;
    transform: scale(0);
    transition: 0.3s transform ease-in-out;
    background-color:#7B92A6;
}

.finishTask:checked::before {
    transform: scale(1);
}
.editTask {
    position: relative;
    display: inline-block;
}
.editTask[title]:hover::after {
    content: 'detalhes';
    position: absolute;
    top: -21px;
    left: -20px;
    background-color: rgba(255, 255, 255, 0.7);
    color:#536173;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 60px;
}

.removeTask {
    position: relative;
    display: inline-block;
}

.removeTask[title]:hover::after {
    content: 'eliminar';
    position: absolute;
    top: -21px;
    left: -17px;
    background-color: rgba(255, 255, 255, 0.7);
    color:#536173;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 60px;
}





/************************************************* REGISTER.HTML *************************************************/

#register{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #7B92A6;
    margin-top: 8%;
    align-content: center;
}

.registerContainer{
    margin: auto;
    width: 50%;
    background-color: #536173;
    padding: 30px 50px;
    border-radius: 5px;
}

.registerTitle{
    font-size: 20px;
    color:#F2DBAE;
    position: relative;
}

.registerUserDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px 0 20px 0;
}

.registerInputBox{
    margin-bottom: 20px;
    width: 45%;
}

.registerInputBox input{
    height: 40px;
    width: 100%;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
    box-sizing: border-box;
}
  
.registerInputBox input:focus{
    background-color: #F2DBAE;
    color: #260101;
}

#register label{
    display: block;
    margin-bottom: 6px;
    color: #F2DBAE;
    font-size: 14px;
    font-weight: 100;
}

#register form .button{
    height: 40px;
    margin: 20px 0px;
   }
  
#register form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.5);
    color: white;
    transition: 0.3s;
}
   
#register form .button input:hover{
    background-color: white;
    color:#536173;
}
  
#registerPageName {
    position: absolute;
    font-weight: 100;
    top:-5px;
    left: 30px;
}






/************************************************* DETAILS.HTML *************************************************/

/* CORPO PRINCIPAL */
/* define afastamento do conteúdo do container às margens */
.container-details {
    margin-top: 9%;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 15%;
}

/* define afastamento entre caixas */
.row {
    margin-top: 35px;
    position: relative;
}

/* propriedades das label das caixas de texto */
.container-details label {
    color: #F2DBAE;
    font-size: 16px;
    font-weight: 100;
    transition: 0.3s;
    float: left;
}

/* propriedades das caixas de texto */
.text-edit-box {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #536173;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;

}

#edit-title {
    height: 75px;
    font-size: 16px;
    font-weight: normal;
    resize: none;
    cursor: pointer;
}
#edit-title:focus {
    background-color:#F2DBAE;
    color: #260101;
}

#edit-description {
    height: 160px;
    font-size: 14px;
    resize: none;
    cursor: pointer;
    margin-bottom: 40px;
}
#edit-description:focus {
    background-color:#F2DBAE;
    color: #260101;
}

/* propriedades do picker do calendário*/
#edit-deadline {
    border-radius: 5px;
    border: 2px solid #536173;
    color-scheme: dark;
    background-color: #536173;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 105px;
    height: 26px;
    margin-top: 25px;
    padding: 10px;
    position: absolute;
    left: 0px;
    cursor: auto;
}
#edit-deadline:focus {
    background-color:#F2DBAE;
    color: #260101;
    color-scheme: light;
}
#edit-deadline::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

/* propriedades do picker de categoria */
.editCategory {
    border-radius: 5px;
    border: 2px solid #536173;
    background-color: #536173;
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 105px;
    height: 26px;
    margin-top: 25px;
    padding: 10px;
    position: relative;
    left: 115px;
    cursor: auto;
}

/* propriedades da label do picker de categoria */
.label-editCategory {
    color: #F2DBAE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 155px;
}

#edit-dropbtn {
    color:lightgray;
    width: 30px;
    font-size: 10px;
    display: inline-block;
    position: relative;
    left: 90px;
    top: 0px;
    cursor: pointer;
}

.dropdown-category-override {
    position: absolute !important;
    left:271px;
    top:-58px;
    background-color: rgba(255, 255, 255, 0.25);
    min-height: 30px;
    min-width: 20px !important;
    padding-top: 2epx;
    padding-bottom: 10px;
    padding-left: 9px;
    width: 20px;
    border-radius: 15px;
}

.dropdown-category-override i {
    position: relative;
    display: block;
    padding-top: 10px;
    width:10px;
}

/* propriedades do botão de gravação */
.edit-submit,#edit-backPage {
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #536173;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 120px;
    height: 50px;
    float: right;
    margin-top: 25px;
    margin-left: 2px;
}
/* propriedades da modificação hover sobre o botão de gravação */
.edit-submit:hover, #edit-backPage:hover {
    color:white;
    background-color:#536173;
}

/* propriedades do botão de cancelamento */
.edit-cancelar {
    border: none;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #536173;
    padding-top: 17px;
    text-align: center;
    font-size: 14px;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 120px;
    height: 33px;
    float: right;
    margin-top: 25px;
    text-decoration: none;
}

/* propriedades da modificação hover sobre o botão de cancelamento */
.edit-cancelar:hover {
    color:white;
    background-color:#536173;
}

.disabled {
    pointer-events: none;
    border: 1px solid white;
    color: lightgray;
    background-color: rgba(255, 255, 255, 0.25);
}





/************************************************* EDIT-PROFILE.HTML *************************************************/

#editProfile{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #7B92A6;
    margin-top: 8%;
    align-content: center;
}
  
.editProfileContainer{
    margin: auto;
    width: 50%;
    background-color: #536173;
    padding: 30px 50px;
    border-radius: 5px;
}
  
.editProfileTitle{
    font-size: 20px;
    color:#F2DBAE;
    position: relative;
}

.editProfileUserDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px 0 20px 0;
}

.editProfileInputBox{
    margin-bottom: 20px;
    width: 45%;
}

#editProfile label{
    display: block;
    margin-bottom: 6px;
    color: #F2DBAE;
    font-size: 14px;
    font-weight: 100;
}

.editProfileInputBox input{
    height: 40px;
    width: 100%;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
    background-color: white;
    color:#536173;
    box-sizing: border-box;
}

.usernameBloqued{
    border-color: lightgray !important;
    background-color: lightgrey !important;
    color: grey;
  }
  
.editProfileInputBox input:focus{
    background-color: #F2DBAE;
    color: #260101;
}

#editProfile form .button{
    height: 40px;
    margin: 20px 0px;
   }
  
#editProfile form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.5);
    color: white;
    transition: 0.3s;
}
   
#editProfile form .button input:hover{
    background-color: white;
    color:#536173;
}

.editInfo{
    background-color: rgba(245, 244, 244, 0.829);
}

.editInfo::placeholder{
    color: black;
}





/************************************************* USER-PROFILE.HTML *************************************************/

.userProfileContainer {
    margin-top: 18%;
    padding-left: 20%;
    padding-right: 20%;
    cursor: pointer;
}

.profileTable{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    table-layout: fixed;
    color: #536173;
    border: solid 10px white;
}

.profileTableTitle {
    height: 50px;
}

.profileTable td {
    border: solid 1px white;
    padding: 0px 15px 0px 15px;
}

.profileTitle {
    font-weight: bold;
    background-color: #F2DBAE;
    
}

.userProfileRow {
    font-size: 12px;
    height: 30px;
}

#profileFirstNameField, #profileLastNameField, #profileEmailField, #profilePhoneField {
    vertical-align: top;
}

.profilePhoto {
    width:100%;
    height:100%;
}





/************************************************* USERS-LIST.HTML *************************************************/

#usersListContainer {
    margin-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 10%;
  }

.link-users-list {
    pointer-events: none;
}

.userDiv {
    margin-bottom: 2px;
    background-color: white;
}
  
.userDiv:hover {
    background-color: #F2DBAE;
    cursor: pointer;
}

.userBox {
    width: 100%;
    padding: 3px 3px;
}

.userBox tr {
    position: relative;
    font-size: 13px;
}

.nameCell {
    padding-left: 25px;
    color: #536173;
    font-weight: bold;
}

.pictureCell {
    padding-right: 25px;
}

.userPicture {
    height: 35px;
    width: 35px;
    border-radius: 17.5px;
    float: right;
}